
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized Access</title>
</head>
<body>
    <div> 
        You are not authorized to access.
    </div>
</body>
</html>
